@import url("https://fonts.googleapis.com/css2?family=Road+Rage&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  background: radial-gradient(
      52.52% 32.71% at 50% 97.66%,
      rgba(36, 160, 181, 0.2) 0%,
      rgba(36, 160, 181, 0) 100%
    ),
    #02191d;
}

.road-rage {
  font-family: "Road Rage", serif;
  /* font-weight: 400; */
  /* font-style: normal; */
}

.event-details {
  border-radius: 24px;
  border-right: 2px solid #07373f;
  border-bottom: 2px solid #07373f;
  border-left: 2px solid #07373f;
  background: radial-gradient(
      57.42% 106.59% at 14.02% 32.06%,
      rgba(36, 160, 181, 0.2) 0%,
      rgba(36, 160, 181, 0) 100%
    ),
    rgba(10, 12, 17, 0.1);
  backdrop-filter: blur(7px);
}

.main-upload-card {
  display: flex;
  padding: 24px 24px 48px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border-radius: 24px;
  border: 1px solid #07373f;
  background: #052228;
}

.upload-card {
  border-radius: 32px;
  border: 4px solid rgba(36, 160, 181, 0.5);
  background: #0e464f;
  display: flex;
  width: 240px;
  height: 240px;
  padding: 24px;
  margin: -20px auto 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

input::placeholder {
  color: #aaa !important;
}

textarea::placeholder {
  color: #aaa !important;
}
